<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Update Patient </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <form id="app" role="form"
          th:action="@{/doctors/{doctorId}/patients/{patientId}(doctorId=${doctorId}, patientId=${patient.getId()})}"
          th:object="${patient}"
          method="get">
        <div class="box-body">
            <div class="row col-md-12">
                <div class="form-group">

                    <h2> View Patient Details</h2> <br/>
                    <div class="form-group right-arrow navbar-right">
                        <h5>
                             <span> Patient: <a
                                     th:href="@{/doctors/{doctorId}/patients(doctorId=${patient.getDoctor().getId()})}"> Patient List
								</a></span>
                        </h5>
                    </div>

                    <label style="padding-left: 30%; color: red; align-content: center;" th:if="${error}"
                           th:text="${error}"/>
                    <label style="padding-left: 30%; color: green; align-content: center;" th:if="${success}"
                           th:text="${success}"/>
                </div>
            </div>
            <input readonly type="hidden" th:field="*{user.id}" id="user.id"
                   name="id" th:value="${patient.user.id}">
            <input readonly type="hidden" th:field="*{id}" id="id"
                   name="id" th:value="${patient.id}">
            <div class="row col-md-12">

                <div class="form-group col-md-4">
                    <label for="user.username">User Name: &nbsp;<span style="color: red;">*</span></label>
                    <input readonly type="text" th:field="*{user.username}" id="user.username"
                           name="user.username" th:value="${patient.user.username}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}"
                           th:class="'error text-danger'"> Enter User Name </label>
                </div>
                <div class="form-group col-md-4">
                    <label for="user.firstName">First Name: &nbsp;<span style="color: red;">*</span></label>
                    <input readonly type="text" th:field="*{user.firstName}" id="user.firstName"
                           name="user.firstName" th:value="${patient.user.firstName}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"
                           th:class="'error text-danger'"> Enter First Name </label>
                </div>

                <div class="form-group col-md-4">
                    <label for="user.lastName">Last Name: &nbsp;<span style="color: red;">*</span></label>
                    <input readonly type="text" th:field="*{user.lastName}" id="user.lastName"
                           name="user.lastName" th:value="${patient.user.firstName}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.firstName}"
                           th:class="'error text-danger'"> Enter Last Name </label>
                </div>
                <div class="form-group col-md-4">
                    <label for="user.email">Email: &nbsp;<span style="color: red;">*</span></label>
                    <input readonly type="text" th:field="*{user.email}" id="user.email"
                           name="user.email" th:value="${patient.user.email}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.email}"
                           th:class="'error text-danger'"> Enter Email </label>
                </div>

                <div class="form-group col-md-4">
                    <label for="bloodGroup">Blood Group: &nbsp;<span style="color: red;">*</span></label>
                    <input readonly type="text" th:field="*{bloodGroup}" id="bloodGroup"
                           name="bloodGroup" th:value="${patient.bloodGroup}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('bloodGroup')}" th:errors="*{bloodGroup}"
                           th:class="'error text-danger'"> Blood Group </label>
                </div>

                <div class="form-group col-md-4">
                    <label for="admissionDate">Admission Date: &nbsp;<span
                            style="color: red;">*</span></label>
                    <input readonly type="date" th:field="*{admissionDate}" id="admissionDate"
                           name="admissionDate"
                           th:value="${#dates.format(patient.admissionDate, 'yyyy-MM-dd')}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('admissionDate')}" th:errors="*{admissionDate}"
                           th:class="'error'">Admission Date</label>
                </div>
                <div class="form-group col-md-4">
                    <label for="user.dob"> Date Of Birth: &nbsp;<span
                            style="color: red;">*</span></label>
                    <input readonly type="date" th:field="*{user.dob}" id="user.dob"
                           name="user.dob"
                           th:value="${#dates.format(patient.user.dob, 'yyyy-MM-dd')}"
                           class="form-control" autofocus="autofocus">
                    <label th:if="${#fields.hasErrors('user.dob')}" th:errors="*{user.dob}"
                           th:class="'error'"> Date Of Birth</label>
                </div>

            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-4">
                <a th:href="@{/doctors/{doctorId}/patients/{patientId}(doctorId=1, patientId=${patient.getId()})}">
                    <button type="button" name="submit" th:id="submit" class="btn btn-primary">Edit</button>
                </a>
                <a th:href="@{/doctors/{doctorId}/patients/{patientId}/observations(doctorId=1, patientId=${patient.getId()})}"
                   title="Create Observation">
                    <button type="button" name="createObservation" th:id="createObservation" class="btn btn-primary">
                        Create observation
                    </button>
                </a>
            </div>
        </div>
</div>


</form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var genderVal = $('#gender').val();
        console.log("genderVal:" + genderVal);
        if (genderVal == "M") {
            $(".male").prop("checked", true);
            $(".female").prop("checked", false);
            $("#gender").val("M");
        } else {
            $(".female").prop("checked", true);
            $(".male").prop("checked", false);
            $("#gender").val("F");
        }
    });

</script>
</body>
</html>
